artifacts/nxt-medical/public/videos/chiro-intro.mp4 filter=lfs diff=lfs merge=lfs -text
attached_assets/1753738645-Chiro-2-Min-Intro-072825_1774364087559.mp4 filter=lfs diff=lfs merge=lfs -text
artifacts/nxt-medical/public/videos/primary-care-intro.mp4 filter=lfs diff=lfs merge=lfs -text
attached_assets/1767216327-m011_clinician_intro_video_-_123125_v7-1080p_1774435740106.mp4 filter=lfs diff=lfs merge=lfs -text
